
body, html {
  margin: 0;
  padding: 0;
  touch-action: manipulation;
  user-select: none;
}

body {
  display: flex;
  height: 100vh;
}

.map-parent {
  flex: 1;
  position: relative;
  background-color: black;
}

.map-parent[data-map="kc"] .we {display: none;}
.map-parent[data-map="we"] .we {display: block;}
.map-parent[data-map="kc"] .kc {display: block;}
.map-parent[data-map="we"] .kc {display: none;}

.map-parent[data-map="kc"] .marker.ring[data-round="1"] {--size: 1187.84px;}
.map-parent[data-map="kc"] .marker.ring[data-round="2"] {--size: 795.79px;}
.map-parent[data-map="kc"] .marker.ring[data-round="3"] {--size: 479.82px;}
.map-parent[data-map="kc"] .marker.ring[data-round="4"] {--size: 122.88px;}
.map-parent[data-map="kc"] .marker.ring[data-round="5"] {--size: 93.62px;}
.map-parent[data-map="kc"] .marker.ring[data-round="6"] {--size: 46.81px;}
.map-parent[data-map="kc"] .marker.ring[data-round="7"] {--size: 4.68px;}

.map-parent[data-map="we"] .marker.ring[data-round="1"] {--size: 1089.04px;}
.map-parent[data-map="we"] .marker.ring[data-round="2"] {--size: 589.46px;}
.map-parent[data-map="we"] .marker.ring[data-round="3"] {--size: 362.75px;}
.map-parent[data-map="we"] .marker.ring[data-round="4"] {--size: 184.26px;}
.map-parent[data-map="we"] .marker.ring[data-round="5"] {--size: 63.43px;}
.map-parent[data-map="we"] .marker.ring[data-round="6"] {--size: 30.21px;}
.map-parent[data-map="we"] .marker.ring[data-round="7"] {--size: 5px;}

.map-child {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  max-height: 2048px;
  max-width: 2048px;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.map-child .map, .map-child .overlay {
  position: absolute;
  top: 0;
  left: 0;
}

.map-child .overlay {
  width: 2048px;
  height: 2048px;
  z-index: 2;
}

.side-nav {
  display: none;
  width: 200px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.cursor {
  position: absolute;
  float: right;
  pointer-events: none;
  z-index: 10000;
}

.cursor.center {
  transform: translate(-50%, -50%);
}

.cursor.left {
  border-top: 2px solid rgba(255, 255, 255, 0.2);
  width: 2048px;
  transform: translateY(-1px);
  height: 0.5px;
}
.cursor.top {
  border-left: 2px solid rgba(255, 255, 255, 0.2);
  transform: translateX(-1px);
  width: 0.5px;
  height: 2048px;
}

.marker {
  font-family: monospace;
  position: absolute;
}

.marker.normal {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  color: black;
  font-weight: bold;
  justify-content: center;
  font-size: .7rem;
  transform: scale(1) translate(-50%, calc(-100% - 0.25rem));
}

.marker.care {
  width: 1.2rem;
  height: 1.2rem;
  display: flex;
  align-items: center;
  font-family: monospace;
  color: black;
  font-weight: bold;
  justify-content: center;
  font-size: .7rem;
  transform: scale(1) rotate(45deg);
}

.marker.care::after {
  pointer-events: auto;
  content: attr(data-round);
  position: absolute;
  cursor: pointer;
  display: flex;
  transform: rotate(-45deg);
  align-items: center;
  justify-content: center;
  width: 1.2rem;
  height: 1.2rem;
}

.marker.care:hover, .marker.care.filtered {
  transform: scale(2) rotate(45deg);
  cursor: pointer;
  z-index: 20000;
}

.marker.ring {
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  border: .15rem solid rgba(255, 255, 255, 0.4);
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.marker.ring.filtered {
  border-width: .3rem;
}

.marker.ring::before {
  pointer-events: auto;
  content: attr(data-round);
  position: absolute;
  cursor: pointer;
  top: 50%;
  left: 50%;
  display: flex;
  background-color: #fff;
  border-radius: 50%;
  transform: translate(-50%, calc(-50%));
  align-items: center;
  justify-content: center;
  width: 1.2rem;
  height: 1.2rem;
  zoom: var(--child-zoom);
}
.marker.ring::after {
  content: '';
  position: absolute;
  pointer-events: none;
  right: 0;
  top: 50%;
  width: 50%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.marker.ring:hover, .marker.ring:hover::after {
  z-index: 20000;
  border-color: #fff;
}

.marker.ring.filtered::after {
  height: 4.1rem;
}

.marker.ring.filtered::before {
  transform: scale(2) translate(-25%, calc(-50% - 2.4rem));
}

.marker.ring.new::before {
  pointer-events: none;
  content: '';
  background-color: #0f0;
}

.marker.normal:hover, .marker.normal.filtered {
  transform: scale(2) translate(-25%, calc(-74% - 0.25rem));
  cursor: pointer;
  z-index: 20000;
}
.marker.normal::after {
  background-color: inherit;
  position: absolute;
  left: .25rem;
  top: .5rem;
  transform: rotate(45deg);
  width: calc(1rem);
  z-index: -1;
  height: calc(1rem);
  content: '';
}

.marker.care {
  background-color: #ccf;
}

.marker.new {
  background-color: #0f0;
}

.marker.ring.new {
  border-color: #0f0;
  z-index: 10000;
  background-color: rgba(255, 255, 255, 0.1);
}


.items-hud {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: auto;
  z-index: 50000;
  display: flex;
  overflow: visible;
  font-family: monospace;
  display: inline-flex;
  height: 30px;
}

.items-category {
  user-select: none;
  min-width: 120px;
  color: white;
  height: 30px;
  transform: translateY(0);
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.7);
}

.items-category:not(.closed):hover, .items-category.open {
  height: 330px;
  transform: translateY(calc(30px - 100%));
}

.items-title {
  display: flex;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  height: 30px;
  padding: 0 8px;
}

.items-list {
  font-size: 16px;
  max-height: 300px;
  overflow-y: auto;
}

.items-list .item {
  padding: 4px 8px;
  text-align: right;
  position: relative;
}

.items-list .item::before {
  font-size: 10px;
  position: absolute;
  left: 4px;
  top: 4px;
  color: white;
  text-shadow: none;
}

.items-list .item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.items-list .item.filtered {
  background-color: rgba(200, 200, 250, 0.2);
}

.items-list .item.smg::before{content: 'SMG';}
.items-list .item.ar::before{content: 'AR';}
.items-list .item.lmg::before{content: 'LMG';}
.items-list .item.sr::before{content: 'sniper';}
.items-list .item.sg::before{content: 'shotgun';}
.items-list .item.handgun::before{content: 'pistol';}
.item.ammo-light, .menu .ammo-light{color: #f2cb88;}
.item.ammo-heavy, .menu .ammo-heavy{color: #0a8f5a;}
.item.ammo-shotgun, .menu .ammo-shotgun{color: #d93e0f;}
.item.ammo-sniper, .menu .ammo-sniper{color: #248af0;}
.item.ammo-energy, .menu .ammo-energy{color: #c8d115;}

.marker.ammo-light{background: #f2cb88;}
.marker.ammo-heavy{background: #0a8f5a;}
.marker.ammo-shotgun{background: #d93e0f;}
.marker.ammo-sniper{background: #248af0;}
.marker.ammo-energy{background: #c8d115;}

.item.ammo-carepackage, .item.gold, .menu .gold,
.item[data-short="1x"], .selected-item[data-short="1x"] span,
.item[data-short="10x"], .selected-item[data-short="10x"] span,
.item[data-short="anv"], .selected-item[data-short="anv"] span
{color: #f2bd0c;text-shadow: 0 0 3px #f2bd0c;}
.marker.ammo-carepackage, .marker.gold,
.marker[data-short="1x"],
.marker[data-short="10x"],
.marker[data-short="anv"]
{background: #f2bd0c;text-shadow: 0 0 3px #f2bd0c;}

.item[data-short="evo"], .selected-item[data-short="evo"] span
{color: #ed5c6d;}
.marker[data-short="evo"]{background: #ed5c6d;}

.item.purple, .menu .purple,
.item[data-short="8x"], .selected-item[data-short="8x"] span,
.item[data-short*="mag"], .selected-item[data-short*="mag"] span,
.item[data-short="2tap"], .selected-item[data-short="2tap"] span,
.item[data-short="fire"], .selected-item[data-short="fire"] span,
.item[data-short="chok"], .selected-item[data-short="chok"] span,
.item[data-short="hamm"], .selected-item[data-short="hamm"] span{color: #e700eb;}
.marker.purple,
.marker[data-short="8x"],
.marker[data-short*="mag"],
.marker[data-short="2tap"],
.marker[data-short="fire"],
.marker[data-short="chok"],
.marker[data-short="hamm"]{background: #e700eb;}

.menu {
  font-family: monospace;
  user-select: none;
  pointer-events: auto;
  z-index: 10000;
  color: white;
  padding: 7px;
  width: 240px;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
}

.cursor .addition-menu {
  left: 12px;
  bottom: calc(1.25rem + 7px);
}

.preview-menu {
  transform: translate(12px, calc(-1.25rem - 7px - 100%));
}

.menu a, .menu a:visited, .top-hud a, .top-hud a:visited {
  color: #ccf;
}

.action-items, .points {
  display: flex;
}

.action-items a:not(:first-child) {
  margin-left: 8px;
}

[flex] {
  flex: 1;
}

.addition-menu .selected-item {
  margin-left: 14px;
}

.preview-menu .selected-item {
  text-align: center;
  margin-bottom: 7px;
}

.good, a.good, a.good:visited {
  color: #fd9 !important;
}
.bad, a.bad, a.bad:visited {
  color: #ccf !important;
}

.top-hud {
  z-index: 50000;
  position: absolute;
  font-family: monospace;
  top: 0;
  left: 0;
  width: 100%;
  height: 0px;
}

.top-hud #logout {
  pointer-events: auto;
  position: absolute;
  top: 5px;
  right: 5px;
}

.map-button {
  pointer-events: auto;
  position: absolute;
  top: 5px;
  left: 5px;
  cursor: pointer;
}

a.disabled {
  pointer-events: none;
  text-decoration: none;
  color: #fcc !important;
}

.countdown-clock {
  color: #ccf;
  font-size: 16px;
  text-align: center;
  text-shadow: 0 0 2px #ccf;
}

.rounds {
  text-align: center;
  margin: 8px 0;
}

.rounds a {
  margin: 0 4px;
  font-weight: bold;
  font-size: 16px;
}

.rounds a.unselected {
  font-size: 12px;
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .marker.normal, .marker.care {
    box-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.5);
  }
}

@media screen and (max-width: 1200px) {
  .items-title {
    font-size: 16px;
    height: 30px;
    padding: 0 8px;
  }

  .items-category {
    min-width: 100px;
    flex: 1;
    height: 30px;
    transform: translateY(0);
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.7);
  }
}
